.intro {
  text-align: center;
  padding-top: 1.5%;
}

.title {
  font-size: 8rem;
  padding-top: 5%;
  font-family: sans-serif;
  color: #fff;
}

.start-button {}

body {
  text-align: center;
  background-image: url("/Users/ashantijones/Documents/Web Development/Love Calculator App/images/sidney-pearce-yPMJliKzyc4-unsplash.jpg");
  background-size: 50%;
}

h1 {
  font-size: 4rem;
}

.calc {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 50px;
  border: 5px solid #FA8072;
  background-color: #F08080;
  border-radius: 50px;
  clear: both;
}

.form-group button {
  text-align: center;
}

.btn-danger {
  color: #d44844;
  background-color: #fff;
  border-color: #fff;
  width: 100%;
  font-weight: 900;
}


#preloader {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
}

.bg-cover {
  background: #fff;
  width: 100%;
  height: 100vh;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 999;
  position: absolute;
}

.bg-white {
  background: #fff;
}

.white-text {
  color: #fff;
  padding-bottom: 4.5%;
}
